[{{ web_domain }}]

user = {{ web_user }}
group = {{ web_user }}
listen = /run/php/php{{ php_version }}-fpm-{{ web_domain }}.sock
listen.owner = www-data
listen.group = www-data
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3